<!DOCTYPE html>
<html>
	<head>
		<title>Kosci Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/shared.css" />
		<link rel="stylesheet" href="/css/game.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
		<script src="/js/game.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Dice</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="navbar-item navbar-btn btn-info btn" href="/logout">Log-out</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<button class="btn-info btn col-lg-3 mx-auto game-state-button" id="rollDice">Roll dice</button>
				<button class="btn-info btn col-lg-3 mx-auto game-state-button" id="startGame">Start game</button>
			</div>
			<div class="row">
				<div class="col-sm">
					<canvas id="game-canvas" width="600" height="600"></canvas>
				</div>

				<div class="col-sm">
					<div class="row" style="height: 90%">
						<table class="table-striped section-margin-bottom full-width" id="scoreboard"></table>
					</div>
					<div class="row">
						<div class="btn-group col-lg-5 mx-auto">
							<button
								type="button"
								class="btn btn-secondary dropdown-toggle"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
								id="selectRow"
							>
								Select row
							</button>
							<div class="dropdown-menu" id="rowDropdown">
								<a class="dropdown-item" id="ones">Ones</a>
								<a class="dropdown-item" id="twos">Twos</a>
								<a class="dropdown-item" id="threes">Threes</a>
								<a class="dropdown-item" id="fours">Fours</a>
								<a class="dropdown-item" id="fives">Fives</a>
								<a class="dropdown-item" id="sixes">Sixes</a>
								<a class="dropdown-item" id="pair">Pair</a>
								<a class="dropdown-item" id="twoPairs">Two Pairs</a>
								<a class="dropdown-item" id="smallStraight">Small Straight</a>
								<a class="dropdown-item" id="largeStraight">Large Straight</a>
								<a class="dropdown-item" id="threeKind">Three of a kind</a>
								<a class="dropdown-item" id="fullHouse">Full House</a>
								<a class="dropdown-item" id="fourKind">Four of a kind</a>
								<a class="dropdown-item" id="kosci">Kosci</a>
								<a class="dropdown-item" id="chance">Chance</a>
							</div>
						</div>
						<button class="btn-info btn col-lg-5 mx-auto" id="submitRoll">Submit roll</button>
					</div>
				</div>
			</div>
		</div>

		<p id="current-player"></p>
		<p id="rolls-left"></p>
	</body>
</html>
