<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/js/home.js"></script>
		<!-- <link rel="stylesheet" type="text/css" href="./resources/css/home.css"/> -->
	</head>
	<body>
		<div id="nav-placeholder"></div>

		<script>
			$(() => {
				$('#nav-placeholder').load('nav.html');
			});
		</script>

		<p id="queryResult"></p>
	</body>
</html>
