<!DOCTYPE html>
<html>
	<head>
		<title>Kosci Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/shared.css" />
		<link rel="stylesheet" href="/css/room-list.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/js/home.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body style="background-color: #e0e0e0">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Dice</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="navbar-item navbar-btn btn-info btn" href="/logout">Log-out</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<h2>Available rooms</h2>
				</div>
			</div>
			<table class="table-striped section-margin-bottom full-width" id="roomList">
				<tr class="table-row-height">
					<th>Name</th>
					<th>Participants</th>
					<th>Status</th>
					<th></th>
				</tr>
			</table>
			<div class="row mx-auto">
				<button class="btn btn-dark button-shadow col-lg-3 mx-auto" type="button">Previous</button>

				<a class="btn-info btn button-shadow col-lg-3 mx-auto" href="/game?name=" id="createRoom">
					Create a game room
				</a>

				<button class="btn btn-dark button-shadow col-lg-3 mx-auto" type="button">Next</button>
			</div>
		</div>
	</body>
</html>
