<!DOCTYPE html>
<html>
	<head>
		<title>Kosci Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/shared.css" />
		<link rel="stylesheet" href="/css/home.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/js/home.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body style="background-color: #e0e0e0">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Kosci</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="navbar-item navbar-btn btn-info btn" href="/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="navbar-item navbar-btn btn-info btn" href="/profile">Profile</a>
					</li>
					<li class="nav-item">
						<a class="navbar-item navbar-btn btn-info btn" href="/logout">Log-out</a>
					</li>
				</ul>
			</div>
		</nav>

		<script>
			localStorage.nickname = '<%= locals.nickname %>';
		</script>

		<div class="container">
			<div class="row">
				<div class="col-lg">
					<h2>How to play</h2>
				</div>
			</div>
			<div class="row">
				<p class="rule-paragraph">
					<b>Kosci</b> is a variation of game Yahtzee due to some rule differences. If you are not familiar
					with the game, <a href="https://youtu.be/sQM7sN4NPz8">this video</a> might provide a useful
					introduction. You will find that Kosci has more fields that are similar to the game of Poker.
					Furthermore, the differences in scoring system are:
				</p>
				<ul>
					<li>
						Getting a score of 63 and above in the upper section <i>(Ones to Sixes)</i> applies +50 pts
						bonus.
					</li>
					<li>
						Submitting a score greater than 0 for every row in the lower section
						<i>(Pair to Chance)</i> applies +100 pts bonus.
					</li>
					<li>
						Submitting a score on the first try applies 2x points multiplier for every row in the lower
						section.
					</li>
				</ul>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg">
					<h2>Available rooms</h2>
				</div>
			</div>
			<table class="table-striped section-margin-bottom full-width" id="roomList">
				<tr class="table-row-height">
					<th>Room name</th>
					<th>Participants</th>
					<th>Status</th>
					<th></th>
				</tr>
			</table>
			<div class="row mx-auto">
				<button class="btn btn-dark button-shadow col-lg-3 mx-auto" type="button" id="previousButton">
					Previous Page
				</button>

				<a class="btn-info btn button-shadow col-lg-3 mx-auto" href="/game?name=" id="createRoom">
					Create a game room
				</a>

				<button class="btn btn-dark button-shadow col-lg-3 mx-auto" type="button" id="nextButton">
					Next Page
				</button>
			</div>
		</div>
	</body>
</html>
