<!DOCTYPE html>
<html>
	<head>
		<title>Kosci Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/shared.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
		<script src="/js/login.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Kosci</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="navbar-item navbar-btn btn-info btn" href="/register">Register</a>
					</li>
					<li class="nav-item">
						<a class="navbar-item navbar-btn btn-info btn" href="/login">Log-in</a>
					</li>
				</ul>
			</div>
		</nav>

		<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert"><%= locals.error %></div>
		<% } %>

		<div class="row my-auto">
			<div class="col-sm-4 mx-auto" id="single-centered-div">
				<h3>Log-In</h3>
				<form action="/login" method="POST" id="login-form">
					<div class="form-group">
						<label for="Username">E-mail address</label>
						<input class="form-control" type="text" name="email" id="email" />
					</div>
					<div class="form-group">
						<label for="Password">Password</label>
						<input class="form-control" type="password" name="password" id="password" />
					</div>
					<div class="text-center">
						<button class="btn btn-info button-shadow" type="submit">Submit</button>
						<a href="/register" class="btn btn-secondary button-shadow">Register</a>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
