<!DOCTYPE html>
<html>
	<head>
		<title>Kosci Profile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/shared.css" />
		<link rel="stylesheet" href="/css/home.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
		<script src="/js/profile.js"></script>
	</head>
	<body style="background-color: #e0e0e0">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Kosci</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="navbar-item navbar-btn btn-info btn" href="/profile">Profile</a>
					</li>
					<li class="nav-item">
						<a class="navbar-item navbar-btn btn-info btn" href="/logout">Log-out</a>
					</li>
				</ul>
			</div>
		</nav>

		<% if (locals.message) { %>
		<div class="alert alert-success" role="alert"><%= locals.message %></div>
		<% } %> <% if (locals.error) { %>
		<div class="alert alert-danger" role="alert"><%= locals.error %></div>
		<% } %>

		<div class="container">
			<div class="row">
				<div class="col-sm">
					<h2>Profile settings</h2>
				</div>
			</div>

			<p><b>Nickname: </b><% if (locals.nickname) { %><%= locals.nickname %><% } %></p>
			<p><b>Wins: </b><% if (locals.wins || locals.wins === 0) { %><%= locals.wins %><% } %></p>

			<h3>Match history</h3>
			<table class="table-striped section-margin-bottom full-width" id="matchHistory"></table>

			<div class="row profile-section">
				<div class="col-lg-4">
					<h3>Change password</h3>
					<form action="/profile" method="POST" id="passwordForm">
						<div class="form-group">
							<label for="Old Password">Current Password</label>
							<input class="form-control" type="password" name="oldPassword" id="oldPassword" />
						</div>
						<div class="form-group">
							<label for="Password">New Password</label>
							<input class="form-control" type="password" name="newPassword" id="newPassword" />
						</div>
						<div class="form-group">
							<label for="Password Confirmation">Confirm Password</label>
							<input class="form-control" type="password" name="confirm" id="confirm" />
						</div>
						<div class="text-center">
							<button class="btn btn-info button-shadow" type="submit">Change</button>
						</div>
					</form>
				</div>

				<div class="col-lg-4">
					<h3>Change email</h3>
					<form action="/profile" method="POST" id="emailForm">
						<div class="form-group">
							<label for="Old E-mail">Current E-mail address</label>
							<input class="form-control" type="text" name="oldEmail" id="oldEmail" />
						</div>
						<div class="form-group">
							<label for="New E-mail">New E-mail address</label>
							<input class="form-control" type="text" name="newEmail" id="newEmail" />
						</div>
						<div class="text-center">
							<button class="btn btn-info button-shadow" type="submit">Change</button>
						</div>
					</form>
				</div>

				<div class="col-lg-4">
					<h3>Change nickname</h3>
					<form action="/profile" method="POST" id="nicknameForm">
						<div class="form-group">
							<label for="Nickname">New nickname</label>
							<input class="form-control" type="text" name="newNickname" id="newNickname" />
						</div>
						<div class="text-center">
							<button class="btn btn-info button-shadow" type="submit">Change</button>
						</div>
					</form>
				</div>
			</div>

			<form action="/profile" method="POST" id="deleteForm">
				<div class="row profile-section danger-zone">
					<div class="col-lg-12 d-flex justify-content-center">
						<h3>Delete account</h3>
						<button class="btn btn-danger button-shadow" type="submit" id="deleteUser">Delete</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
