.game-state-button {
	margin: 2%;
}

#game-canvas {
	border: 1px solid black;
}

table,
th,
td {
	border: 1px solid black;
}

table {
	height: 90%;
	width: 100%;
}

#sum {
	border: 2px solid black;
}
