.container {
	margin-top: 3%;
	background-color: white;
	box-shadow: 10px 5px 5px gray;
	border-radius: 25px;
	padding: 10px 20px 10px 20px;
}

#createRoom {
	height: 100%;
	padding: 15px 20px;
	text-align: center;
}

h2 {
	text-align: center;
}

.button-shadow {
	box-shadow: 5px 2px 2px gray;
	border-radius: 10px;
}

.section-margin-bottom {
	margin-bottom: 30px;
}

.full-width {
	width: 100%;
}
