body {
	font-family: verdana, sans-serif;
	height: 100%;
	overflow: hidden;
}
html {
	height: 100%;
}
div.wrap {
	height: 100%;
	overflow: hidden;
}

#single-centered-div {
	border: 3px solid #17a2b8;
	border-radius: 5%;
	padding: 1%;
	margin-top: 10%;
	margin-bottom: auto;
}

.navbar-item {
	margin-left: 10px;
}
